body {
    margin: 0;
}

.text-container {
    z-index: -100;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    color: white;
    opacity: 0.8;
    user-select: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --color-bg1: rgb(54, 27, 81); // Darker purple
    --color-bg2: rgb(0, 8, 41); // Darker blue
    --color1: 9, 56, 128; // Darker blue
    --color2: 110, 37, 128; // Darker pink
    --color3: 50, 110, 128; // Darker cyan
    --color4: 100, 25, 25; // Darker red
    --color5: 90, 90, 25; // Darker yellow
    --color-interactive: 70, 50, 128; // Darker interactive color
    --circle-size: 80%;
    --blending: hard-light;
}

[data-theme="light"] {
    --color-bg1: rgb(212, 108, 255); // Lighter purple
    --color-bg2: rgb(66, 122, 255); // Lighter blue
    --color1: 36, 226, 255; // Lighter blue
    --color2: 442, 148, 255; // Lighter pink
    --color3: 200, 440, 255; // Lighter cyan
    --color4: 400, 100, 100; // Lighter red
    --color5: 360, 360, 100; // Lighter yellow
    --color-interactive: 280, 200, 255; // Lighter interactive color
    --circle-size: 80%;
    --blending: normal;
}
@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1000;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;

    svg {
        display: none;
    }

    .gradients-container {
        filter: url(#goo) blur(40px);
        width: 100%;
        height: 100%;
    }

    .g1,
    .g2,
    .g3,
    .g4,
    .g5,
    .interactive {
        position: absolute;
        background: radial-gradient(
                circle at center,
                rgba(var(--color1), 0.8) 0%,
                rgba(var(--color1), 0) 50%
            )
            no-repeat;
        mix-blend-mode: var(--blending);
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
        opacity: 1;
    }

    .g1 {
        animation: moveVertical 30s ease infinite;
    }

    .g2 {
        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;
    }

    .g3 {
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);
        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;
    }

    .g4 {
        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;
    }

    .g5 {
        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));
        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;
    }

    .interactive {
        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;
        opacity: 0.7;
    }
}
