.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 20;
    padding: 0px 5%;
    height: 10vh;

    img {
        cursor: pointer;
    }

    .theme-switch {
        transition: transform 0.2s;
    }
    .theme-switch:active {
        transform: rotate(180deg);
    }
}
